h1 {color: blueviolet;
    font-size: extralarge;}
    
    button {color: rgb(61, 43, 226);
    font-size: larger;}
    
    h3 {color: rgb(27, 98, 7);
    font-size: medium;}
    
    option {color: rgb(27, 98, 7);
    font-size: small;}